.dialogs{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 4fr 8fr;
    
  }

  .dialog{

  }
  
  .dialogItems{
    padding: 10px;

  }
  .dialogItems .active{
    color: gold;
  }
  .messages{
    padding: 10px;
  }

  .message{

  }