.dialogs{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 4fr 8fr;
    
  }

 
  .dialogItems{
    padding: 10px;

  }
  .dialogItems .active{
    color: gold;
  }
  .messages{
    padding: 10px;
  }

  .messageSent{
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
  }